<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work</title>
    <link rel="stylesheet" th:href="@{/css/pico.min.css}">
    <link rel="stylesheet" th:href="@{/css/prism.css}">
</head>
<body>
<h1 th:text="${data.originalFileName}"></h1>
<a th:href="@{/download(fileName=${data.storedFileName})}" th:text="${data.storedFileName}"></a>
<p th:text="${data.uploadTime}"></p>
<a th:href="@{/workspaces/{workspaceId}(workspaceId=${data.workspaceId})}">workspace로 가기</a>
</body>
<div>
    <button
            th:hx-get="@{/datas/{id}/preview(id=${data.id})}"
            hx-target="#file-preview"
            hx-swap="innerHTML"
    >
        미리보기
    </button>
    <div id="file-preview"></div>
</div>
<script th:src="@{/js/prism.js}"></script>
<script th:src="@{/js/htmx.min.js}"></script>
</html>